# Dependencias
/node_modules

# Archivos de compilación de TypeScript
/dist

# Archivos de configuración generados
/tsconfig.tsbuildinfo

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env
.env.test
.env.local

# Archivos de respaldo
*.bak
*.backup
*.swp

# Archivos de caché
/.cache
/.yarn/cache