<footer class="text-center text-white" style="background-color: #3f51b5;">
    <div class="container p-4 pb-0">
        <section class="">
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">
                    <strong>
                        Proyecto de título de Javier Escobar de la universidad Pontificia Universidad Católica de Valparaíso.
                    </strong>
                </span>
            </p>
            <p>
                <span>
                    Busca recopilar la información de una serie de supermercados y y comparar los precios de sus productos entre ellos.
                </span>
            </p>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: Javier Escobar
    </div>
</footer>
