.notification{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hotpink;
    width: 100%;
}

.notification-sucess {
    color: #ebebeb;
}

.notification-name {
    color: #b0b0b0;
}