<div class="content py-3 px-3">

  <div fxLayout="row"
       fxLayout.lt-md="column" 
       fxLayoutGap="10px" 
       class="container-filters">

    <div fxFlex.xs="100"
         fxFlex.sm="100"
         fxFlex.md="35"
         fxFlex.lg="30"
         fxFlex.xl="25">

      <mat-card>
        <mat-card-header class="py-3">
          <mat-card-title>Filtrar búsqueda</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column">

          <!-- Categorías -->
          <div>
            <mat-form-field>
              <mat-label>Categorías</mat-label>
              <mat-select [formControl]="categorias" multiple>
                <mat-option *ngFor="let categoria of categoriasList" [value]="categoria.id_categoria">
                  {{ categoria.categoria | capitalizeFirstLetter }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
          <!-- Tipos -->
          <div>
            <mat-form-field>
              <mat-label>Tipos</mat-label>
              <mat-select [formControl]="tipos" multiple [disabled]="!categorias.value?.length">
                <mat-option *ngFor="let tipo of tiposList" [value]="tipo.id_tipo">
                  {{ tipo.tipo | capitalizeFirstLetter }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
          <!-- Marcas -->
          <div>
            <mat-form-field>
              <mat-label>Marcas</mat-label>
              <mat-select [formControl]="marcas" multiple>
                <mat-option *ngFor="let marca of marcasList" [value]="marca.id_marca">
                  {{ marca.marca | capitalizeFirstLetter }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
          <!-- Rango de precios -->
          <div class="input-range my-4">
            <h3><strong>Rango de precios:</strong></h3>
            <mat-slider [min]="minPrice" 
                        [max]="maxPrice" 
                        step="1000" 
                        discrete 
                        tickInterval="50000"
                        [displayWith]="formatLabel"
                        [formControl]="precioRange">
              <input value="0" matSliderStartThumb [(ngModel)]="rangeMin">
              <input value="250000" matSliderEndThumb [(ngModel)]="rangeMax">
            </mat-slider>
            <div class="range-prices">
              <span>$ {{ minPrice }}</span>
              <span>$ {{ maxPrice | thousandsSeparator }}</span>
            </div>
          </div>
          
          <!-- Supermercados -->
          <div class="py-2">
            <h3><strong>Supermercados:</strong></h3>
            <mat-list>
              <mat-list-item *ngFor="let supermercado of supermercadosList">
                <mat-checkbox [value]="supermercado.id_supermercado!.toString()" 
                              [checked]="supermercados.value!.includes(supermercado.id_supermercado!.toString())"
                              (change)="onSupermercadoChange($event, supermercado.id_supermercado!.toString())"
                              color="primary">
                  {{ supermercado.supermercado }}
                </mat-checkbox>
              </mat-list-item>
              
            </mat-list>
          </div> 
          
          <!-- Ordenar -->
          <div fxFlex>
            <h3><strong>Ordenar por:</strong></h3>
            <mat-radio-group aria-label="Ordenar por" [formControl]="orden">
              <mat-list>
                <mat-list-item>
                  <mat-radio-button value="precio_asc" color="primary">Menor a mayor precio</mat-radio-button>
                </mat-list-item>
                <mat-list-item>
                  <mat-radio-button value="precio_desc" color="primary">Mayor a menor precio</mat-radio-button>
                </mat-list-item>
                <mat-list-item>
                  <mat-radio-button value="nombre_asc" color="primary">Nombres de la A-Z</mat-radio-button>
                </mat-list-item>
                <mat-list-item>
                  <mat-radio-button value="nombre_desc" color="primary">Nombres de la Z-A</mat-radio-button>
                </mat-list-item>
              </mat-list>
            </mat-radio-group>
          </div>

        </mat-card-content>

        <mat-card-actions class="d-flex justify-content-center">
          <button mat-raised-button color="primary"
                  [disabled]="!categorias.value?.length"
                  (click)="onFilterClick()">
            Filtrar
          </button>
          <button mat-icon-button color="warn" class="mx-2" (click)="clearFields()">
            <mat-icon class="icon-size icon-color" aria-label="Ver detalles">
              refresh
            </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="row"
         fxFlex.xs="100" 
         fxFlex.sm="100"
         fxFlex.md="100"
         fxFlex.lg="70"
         fxFlex.xl="75">
         
      <div class="content" *ngIf="productosFilters.length > 0; else loadingTemplate">
        <app-product-list [productos]="productosFilters"></app-product-list>
        
        <div class="d-flex justify-content-center py-2" *ngIf="total_results > 20">
          <button mat-fab color="primary" class="mx-2" [disabled]="offset == 0" (click)="previousPage(); scrollToTop()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          
          <button mat-fab color="primary" class="mx-2" [disabled]="offset + 20 >= total_results" (click)="nextPage(); scrollToTop()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
      
      <div *ngIf="!flag_filter" class="center">
        <h2>¡Aún no se han aplicado filtros!</h2>
      </div>
      
      <ng-template #loadingTemplate>
        <div class="center" *ngIf="flag_loading">
          <h2>Cargando productos...</h2>
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      </ng-template>
      
    </div>
  </div>
</div>