mat-form-field {
    width: 100%;
}

mat-slider {
    width: 100%;
}

.mat-card {
    margin-bottom: 200px;
}

.range-prices {
    display: flex; 
    justify-content: space-between;
    font-weight: 450;
    padding-bottom: 15px;
}

.input-range {
    padding-right: 15px;
}