<mat-sidenav-container class="sidenav-container" fullscreen>

  <!-- Navbar sidenav -->
  <mat-sidenav #sidenav mode="over" [fixedInViewport]="true">
    <mat-toolbar>
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item>
        <a routerLink="./featured-products" mat-list-item class="my-list-item" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>home</mat-icon>
          <span>Inicio</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="./search-filter" mat-list-item class="my-list-item" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>search</mat-icon>
          <span>Búsqueda con filtros</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="./price-comparison" mat-list-item class="my-list-item" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <span>Comparar precios</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="./map" mat-list-item class="my-list-item" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>map</mat-icon>
          <span>Mapa</span>
        </a>
      </mat-list-item>

      <mat-divider></mat-divider>

      <ng-container *ngIf="!authService.loggedIn; else loggedInOptions">
        <mat-list-item>
          <a routerLink="./login" mat-list-item class="my-list-item" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>login</mat-icon>
            <span>Iniciar sesión</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="./register" mat-list-item class="my-list-item" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>person_add</mat-icon>
            <span>Registrarse</span>
          </a>
        </mat-list-item>
      </ng-container>

      <ng-template #loggedInOptions>
        <mat-list-item>
          <a routerLink="./user/quotations" mat-list-item class="my-list-item" (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>assignment</mat-icon>
            <span>Ver cotizaciones</span>
          </a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="./featured-products" (click)="logOut(); sidenav.toggle()" mat-list-item class="my-list-item">
            <mat-icon mat-list-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
          </a>
        </mat-list-item>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Cart sidenav -->
  <mat-sidenav #cartSidenav mode="over" position="end" [fixedInViewport]="true" class="cart-sidenav">
    <mat-toolbar>
      <button mat-icon-button (click)="cartSidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>Tus productos</span>

      <span class="spacer"></span>
    </mat-toolbar>

    <mat-nav-list *ngFor="let product of cart">
      <mat-card class="card-cart-products">
        <mat-card-header class="text-oneline">
          <mat-card-title-group>
            <img mat-card-sm-image class="cart-image" [src]="product.imagen"
              (error)="product.imagen = 'assets/error_image_cart.jpg'"
              [routerLink]="['/comparador/producto/', product.id_producto]" (click)="cartSidenav.toggle()">
            <mat-card-title class="card-name" matListItemTitle [routerLink]="['/comparador/producto/', product.id_producto]"
              (click)="cartSidenav.toggle()">
              {{ product.nombre | titlecase }}
            </mat-card-title>
            <mat-card-subtitle matListItemLine>{{ product.marca | uppercase }}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-actions>
          <!-- Remove item button -->
          <button mat-icon-button color="warn" (click)="removeProductFromCart(product.id_producto)">
            <mat-icon>clear</mat-icon>
          </button>

          <!-- Quantity -->
          <nav>
            <ul class="pagination pagination-sm my-1">
              <li class="page-item button-quantity" [ngClass]="{'disabled': product.cantidad === 1}">
                <a class="page-link" (click)="decreaseProductQuantity(product.id_producto)">-</a>
              </li>

              <li class="page-item"><a class="page-link">{{ product.cantidad }}</a></li>

              <li class="page-item button-quantity">
                <a class="page-link" (click)="increaseProductQuantity(product.id_producto)">+</a>
              </li>
            </ul>
          </nav>

          <span class="spacer"></span>

          <span class="price-product">$ {{ product.precio_total?.toString() | thousandsSeparator }}</span>

        </mat-card-actions>
      </mat-card>
    </mat-nav-list>
    
    <div *ngIf="getTotalProductsCart() === 0" class="text-center empty-cart">
      <h2>Tu carrito se encuentra vacío.</h2>
      <mat-icon>remove_shopping_cart</mat-icon>
    </div>

    <!-- Button price comparision -->
    <div class="d-flex justify-content-center py-2" *ngIf="getTotalProductsCart() > 0">
      <button mat-raised-button color="primary" class="py-4" routerLink="./price-comparison"
        (click)="cartSidenav.toggle()">
        COMPARAR
      </button>
    </div>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <!-- Navbar toolbar -->
    <mat-toolbar color="primary" class="align-items-center">

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Barra de búsqueda -->
      <div class="search-bar my-2">
        <form [formGroup]="searchForm" class="search-form">
          <mat-form-field class="search-form-field">
            <mat-label>Búsqueda</mat-label>
            <input type="text"
            placeholder="Buscar un producto"
            aria-label="Producto"
            matInput
            formControlName="search"
            [matAutocomplete]="auto">

            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let product of filteredOptions | async" [value]="product.nombre"
                [routerLink]="['/comparador/producto/', product.id_producto]" (onSelectionChange)="onOptionSelected()">
                {{product.nombre}}
              </mat-option>

            </mat-autocomplete>

          </mat-form-field>
        </form>
      </div>

      <!-- Botón de login/register -->
      <div class="login">
        <ng-container *ngIf="authService.loggedIn && authService.userDetails; else notLoggedIn">
          <span class="welcome-user">Bienvenid@ {{ authService.userDetails.name | titlecase }}</span>
        </ng-container>

        <ng-template #notLoggedIn>
          <button mat-icon-button routerLink="./login">
            <mat-icon>person</mat-icon>
          </button>
        </ng-template>
      </div>
    </mat-toolbar>

    <div class="container-fluid">
      <router-outlet></router-outlet>

      <button mat-fab class="floating-element" aria-label="cart" color="warn"
        (click)="cartSidenav.toggle(); getCartProducts()">
        <mat-icon>shopping_cart</mat-icon>
        <div *ngIf="totalProducts > 0" id="badge_cart" [matBadge]="totalProducts"></div>
      </button>
      
      <app-footer></app-footer>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>