.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
};

/* mat-form-field {
    height: 20px;
} */



.dropDown-seasons-panel {
    border-radius: 10px !important;
    border: 1px solid gray !important;
    position: absolute !important;
    top: 50px !important;
}

::ng-deep{
    .dropDown-overlay{
       border-radius: 10px;
       border: 1px solid red;
       position:absolute;
       top: 50px;
    }
  }