<mat-card class="mat-elevation-z4" [id]="producto.id_producto">
    
    <!-- Card header -->
    <mat-card-header class="text-oneline">
        <img mat-card-avatar src="../../../../assets/{{ producto.id_supermercado }}.png" alt="">
        <mat-card-title class="card-name"
            (mouseenter)="isHovered = true"
            (mouseleave)="isHovered = false"
            [class.underlined]="isHovered"
            [routerLink]="['/products', producto.id_producto]">
                {{ producto.nombre | titlecase }}
        </mat-card-title>
        <mat-card-subtitle class="card-brand">{{ producto.marca | uppercase }}</mat-card-subtitle>
    </mat-card-header>    

    <img mat-card-image [src]="producto.imagen" [routerLink]="['/products', producto.id_producto]">

    <mat-card-content>
        <p>
            <strong> Categoría: </strong> {{ producto.categoria | titlecase }}
            <br>
            <strong> Tipo de producto: </strong> {{ producto.tipo | titlecase }}
        </p>
        <div class="card-price">
            <span>
                $ {{ producto.precio | thousandsSeparator }}
            </span>
        </div>
    </mat-card-content>

    <mat-card-actions class="d-flex justify-content-center">
        <button mat-icon-button
                color="#545454"
                [routerLink]="['/products', producto.id_producto]"
                >
            <mat-icon class="icon-size icon-color"
                      aria-label="Ver detalles"
                      >
                visibility
            </mat-icon>
        </button>
        <button mat-raised-button 
                color="primary"
                (click)="addToCart(producto.id_producto)"
                >
            Agregar
        </button>
    </mat-card-actions>

</mat-card>
