.floating-element {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#badge_cart {
    position: absolute;
    transform: translate(3px, -25px);
}

.page-link {
    color: #000000;
}

.button-quantity {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed !important;
}

.price-product {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}

.card-cart-products {
    min-height: 150px;
    margin: 2px 10px 0px 10px;
}