<button mat-fab 
        class="floating-element" 
        aria-label="cart"
        color="warn"
        (click)="cart_list.toggle(); getCartProducts()"
        >
    <mat-icon>shopping_cart</mat-icon>
    <div *ngIf="total_products > 0" id="badge_cart" [matBadge]="total_products"></div>
</button>   

<mat-sidenav-container>
    <mat-sidenav #cart_list mode="over" [fixedInViewport]="true" position="end">
        <mat-toolbar>
            
            <button mat-icon-button
                    (click)="cart_list.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            
            <span>Tus productos</span>
            
            <span class="spacer"></span>
            
        </mat-toolbar>
        
        <mat-nav-list *ngFor="let product of cart">
            <mat-card class="card-cart-products">
                <mat-card-header>
                  <mat-card-title-group>
                    <img mat-card-sm-image [src]="product.imagen" >
                    <mat-card-title matListItemTitle>{{ product.nombre | titlecase }}</mat-card-title>
                    <mat-card-subtitle matListItemLine>{{ product.marca | uppercase }}</mat-card-subtitle>
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-actions>
                    <!-- Remove item button -->
                    <button mat-icon-button color="warn" (click)="removeProductCart(product.id_producto)">
                        <mat-icon>clear</mat-icon>
                    </button>
                    
                    <nav>
                        <ul class="pagination pagination-sm my-1">
                            <li class="page-item button-quantity" [ngClass]="{'disabled': product.cantidad === 1}">
                                <a class="page-link" (click)="lessQuantityProduct(product.id_producto)">-</a>
                            </li>
                            
                            <li class="page-item"><a class="page-link">{{ product.cantidad }}</a></li>
                            
                            <li class="page-item button-quantity">
                                <a class="page-link" (click)="addQuantityProduct(product.id_producto)">+</a>
                            </li>                       
                        </ul>
                    </nav>
                    
                    <span class="spacer"></span>
                    
                    <span class="price-product">$ {{ product.precio_total?.toString() | thousandsSeparator }}</span>

                  </mat-card-actions>
            </mat-card>
        </mat-nav-list>
        
    </mat-sidenav>
</mat-sidenav-container>