<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let quotation of listQuotations">
    <!-- Header -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ quotation.nombre }}
      </mat-panel-title>
      <mat-panel-description>
        {{ quotation.fecha | date: 'MM/dd/yyyy' }}
        <span>$ {{ quotation.monto_total | thousandsSeparator }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-list-products-quotation [id_cotizacion]="quotation.id_cotizacion"></app-list-products-quotation>
    
    <!-- Actions buttons -->
    <mat-action-row>
      <button mat-button color="primary">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>