.logo-super {
    max-height: 200px;
}

.icon-available {
    color: #5d9e11;
}

.icon-sale {
    color: #dec702;
}

.icon-stock {
    color: #e03419;
}

.icon-distribute {
    color: #4f4f4f;
}

.icon {
    margin-right: 16px;
}

.total-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

.total-value {
    font-size: 20px;
    line-height: 32px;
}

mat-card {
    max-width: 400px;
}

mat-card-title {
    font-size: 36px;
}